page-chat {
  ion-list{

    .msgBox{
      height:auto;
      width: auto;
      max-width: 250px;
      word-wrap: break-word;
      padding: 7px !important;
      padding-top: 0 !important;
      border-radius: 6px;
      opacity:0.8;
      h1{
        color: #6C7A89;
        font-size: 10px;
        text-decoration: underline;
        display: inline;
        margin-right: 30px;
      }
      h2{
        font-size: 8px;
        display: inline;
        float: right;
        margin-top: -12px;
        color:#aeaeae;
      }
      p{
        word-break: keep-all !important;
        white-space: initial;
        margin-top: 5px;
      }

    }

    // My Messages
    .firstContainer{
      .msgBox{
        float: right;
        background:#F47983;
        padding: 7px;
        border-bottom-right-radius: 0px;
      }
      h1{
        color:#fff
      }
      h2{
        color:#EEEEEE;
      }
      p{
        color:#fff;
        text-align: left;
      }
    }

    // Ohter User Messages
    .thirdContainer{
      .msgBox{
        float: left;
        width: auto !important;
        max-width: 250px;
        background: #ededed;
        border-bottom-left-radius: 0px;
      }
      p{
        color:#232323;
        text-align: left;
      }
    }
  }

  ion-list{
    padding-bottom: 0px !important;
  }

  .scroll-content{
    margin-bottom: 98px !important;
  }

  ion-footer{
    input{
      border: none;
      height:35px;
      border-radius: 30px;
      padding-left: 13px;
      border:1px solid #dbdbdb;
      background: #fcf9f9;
      width:90%;
    }
    ion-icon{
      position: absolute;
      margin-left: 10px;
      margin-top: 5px;
      color: #F47983;
      font-size: 25px;
    }
  }

	.headerClass{
		padding-top: 2vh;
		padding-bottom: 2vh;
		text-align: center;
		.headerText{
			color: white;
			text-align: center;
			font-size: 25px;
			font-family: 'Open Sans', sans-serif;
		}
	}
}
