<ion-header>
  <ion-navbar>
    <ion-title *ngIf="group" (click)="openGroup()">{{group.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openAutoModal()">
        <ion-icon name="open"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="bottomContent">
  <ion-list *ngIf="messages && currentUser" no-lines>
    <ion-item *ngFor="let msg of messages">
      <div [ngClass]="{
          'firstContainer':msg.user.id == currentUser.id,
          'thirdContainer':msg.user.id != currentUser.id
        }">
        <div class="msgBox">
          <h1>{{msg.user?.name}},</h1><h2>{{msg.timestamp | date:'shortTime'}}</h2>
          <p>
            {{msg.message}}
          </p>
        </div>

      </div>

    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <input type="text" placeholder="Message..." [(ngModel)]="inputMessage"/><ion-icon name="send" (click)="sendMessage()"></ion-icon>
  </ion-toolbar>
</ion-footer>
