<ion-header>
	<ion-navbar color="griffith" class="headerClass">
		<ion-title class="headerText">{{pageTitle}}</ion-title>
		<ion-buttons end class="btnClass">
			<button ion-button *ngIf="user?.type == 'mentor'" icon-only (click)="addAnnouncement()">
				<ion-icon name="add-circle"></ion-icon>
			</button>
			<button ion-button icon-only>
				<ion-icon name="contact"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content no-padding>
	<ion-list class="offsetClass">
		<ion-card class="announcement" *ngFor="let ann of announcements;">
			<ion-item>
				<ion-avatar item-start>
					<img src={{ann.imgLink}}/>
				</ion-avatar>
				<h6>{{ann.title}}</h6>
			</ion-item>
			<p>By {{ann.creatorName}}</p>
			<p class="timestamp">{{ann.timestamp}}</p>
			<p style="padding-bottom:10px!important">{{ann.content}}</p>
		</ion-card>
	</ion-list>
</ion-content>
