page-home {
	h6 {
		padding-bottom: 0px;
	}
	p {
		margin: 5px;
		padding: 5px;
		padding-bottom: 0px;
		color: black;
	}
	.announcement {
		margin-top: 0vh;
		padding-left: 5px;
		padding-top: 0vh;
		margin-bottom: 2vh;
	}

	.offsetClass{
		padding-top: 2vh;
		// margin-top: 2vh;
	}

	.timestamp {
		margin: 0px;
		padding: 10px;
		padding-top: 0px;
		color: gray;
		font-size: 100%;
	}
	.headerClass{
		padding-top: 2vh;
		padding-bottom: 2vh;
		text-align: center;
		.headerText{
			color: white;
			text-align: center;
			font-size: 25px;
			font-family: 'Open Sans', sans-serif;
		}
	}

	.btnClass{
		margin-right: 2vw;
	}
}
