page-sign-up {
  .inputList{
  	margin-left: 5vw;
  	margin-right: 5vw;
  }

  .inputField{
  	margin-top: 4vh;
  }

  .btnClass{
  	margin-left: 2vw;
  }

  .signUpBtn{
  	margin-top: 3vh;
  	margin-left: 5vw;
  	left: 0;
  	right: 0;
  	width: 90%;
    height: 50px;
    color:#D24D57;
    background: none;
    border: 1px solid #D24D57;
    border-radius: 6px;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
  }
}
