
<ion-header>
  <ion-navbar>
    <ion-title>messages</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-segment (ionChange)="messageChanged($event)" color="danger" class="segment">
    <ion-segment-button value="group" checked>
      Groups
    </ion-segment-button>
    <ion-segment-button value="dm">
      Direct Messages
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="currentSegment == 'group'">
    <ion-item *ngFor="let group of groupCollection" class="messageBox">
      <ion-label>{{ group.name }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="currentSegment == 'dm'">
    <ion-item *ngFor="let dm of dmCollection" class="messageBox">
      <ion-label>{{ dm.name }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
