<ion-header>
		<ion-navbar color="griffith" class="headerClass">
			<ion-title class="headerText">{{pageTitle}}</ion-title>
			<ion-buttons end class="btnClass">
	      <button ion-button icon-only>
					<ion-icon name="contact"></ion-icon>
				</button>
	    </ion-buttons>
		</ion-navbar>
</ion-header>

<ion-content no-padding>
<button color="danger" (click)="addMeeting()">Add Meetup</button>
<ion-list class="offsetClass">
	<ion-card *ngFor="let event of events;" class="event">
		<ion-item>
			<ion-avatar item-start>
				<img src={{event.imgLink}}/>
			</ion-avatar>
			<h6>{{event.title}}</h6>
		</ion-item>
		<p>By {{event.creatorName}}</p>
		<p class="timestamp">{{event.timestamp}}</p>
		<p style="padding-bottom:10px!important">{{event.eventLocation}}</p>
		<p style="padding-bottom:10px!important">{{event.eventTime}}</p>
		<p style="padding-bottom:10px!important">{{event.content}}</p>
		<!-- <ion-buttons> -->
		<div class="menteeview" *ngIf="user.type == 'mentor'">
			<button color="secondary" class="respondYes" (click)="respondYes(event)">
				<ion-icon name="checkmark"></ion-icon>
			</button>
			<button color="danger" class="respondNo" (click)="respondNo(event)">
				<ion-icon name="close"></ion-icon>
			</button>
		</div>
		<div class="mentorview" *ngIf="user.type == 'mentor'">
			<button color="secondary" class="mentorView" (click)="viewattendance(event)">
				View attendance
			</button>
		</div>
		<!-- </ion-buttons> -->
	</ion-card>
</ion-list>

</ion-content>
