page-profile-modal {
	.headerClass{
		padding-top: 2vh;
		padding-bottom: 2vh;
		text-align: center;
		.headerText{
			color: white;
			text-align: center;
			font-size: 25px;
			font-family: 'Open Sans',sans-serif;
		}
	}

	.btnClass{
		margin-left: 2vw;
	}

	.btnClass2{
		margin-right: 2vw;
	}

	ion-content {
		text-align: center;
	}
}
