<ion-header>
		<ion-navbar color="griffith" class="headerClass">
			<ion-title class="headerText">{{pageTitle}}</ion-title>
			<ion-buttons end class="btnClass">
	      <button ion-button icon-only (click)="profileScreen()">
					<ion-icon name="contact"></ion-icon>
				</button>
	    </ion-buttons>
		</ion-navbar>
</ion-header>

<ion-content no-padding>

	<ion-segment [(ngModel)]="currentSegment" (ionChange)="messageChanged($event)" color="griffith" class="segment">
		<ion-segment-button value="look" checked>
			Group Finder
		</ion-segment-button>
		<ion-segment-button value="create">
			Create Post
		</ion-segment-button>
	</ion-segment>

	<ion-list *ngIf="currentSegment == 'look'">
		<ion-list>
			<ion-card *ngFor="let post of posts;" class="post">
				<ion-item>
					<ion-avatar item-start>
						<img src={{post.imgLink}}/>
					</ion-avatar>
					<h6>{{post.title}}</h6>
				</ion-item>
				<p>By {{post.creatorName}}</p>
				<p class="timestamp">{{post.timestamp | date:'MMM d, y, h:mm a'}}</p>
				<p style="padding-bottom:10px!important">{{post.content}}</p>
				<button ion-button color="griffith" class="respond" (click)="respond()">
					<ion-icon name="chatbubbles"></ion-icon>
				</button>
			</ion-card>
		</ion-list>
  </ion-list>
  <ion-list *ngIf="currentSegment == 'create'">
		<form [formGroup]="postGroup" class="inputFields">
			<h4>Title</h4>
			<ion-input type="text" [formControl]="postGroup.controls['title']" placeholder="Post Title" ></ion-input>
			<h4>Description</h4>
			<ion-textarea type="text" [formControl]="postGroup.controls['content']" placeholder="Post Description"></ion-textarea>
		</form>
		<button ion-button color="secondary" class="submitBtn" (click)="addPost()">
			<ion-icon name="checkmark"></ion-icon>
		</button>
  </ion-list>

</ion-content>
